<div class="formlogin">
    <p class="h1-login text-primary">Đăng nhập</p>
    <div class="loginform">
        {{#if msg}}
            <p class="text-danger">{{{msg}}}</p>
        {{/if}}
        <form action="/login" method="POST" autocomplete="off">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Username</label>
                <input type="text" name="username" class="form-control" id="exampleFormControlInput1" placeholder="Username">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="exampleFormControlInput1" placeholder="Password">
            </div>
            <Button type="submit" class="btnlogin">Đăng nhập</Button>
            <p class="textlogin">Bạn chưa có tài khoản ? <a href="/register">Đăng ký</a></p>
        </form>
    </div>
</div>